[Desktop Entry]
Type=Application
Version=1.0
Name=needrestart-x11
Comment=Check for processes of the current user need to be restarted after library upgrades.
Icon=/usr/share/needrestart-x11/needrestart.svg
TryExec=needrestart-x11
Exec=needrestart-x11
Terminal=false
Categories=System
