[Desktop Entry]
Type=Application
Version=1.0
Name=needrestart
Comment=Check which system services need to be restarted after upgrades.
Icon=/usr/share/needrestart-session/needrestart.svg
TryExec=/usr/sbin/needrestart
Exec=/usr/bin/pkexec /usr/sbin/needrestart -f gnome
Terminal=false
Categories=System;
Keywords=system;upgrades;packages;services;security;
X-Desktop-File-Install-Version=0.22
