[Desktop Entry]
Type=Application
Version=1.0
Name=needrestart-session
Comment=Check for processes in the current user session need to be restarted after upgrades.
Icon=/usr/share/needrestart-session/needrestart.svg
TryExec=needrestart-session
Exec=needrestart-session
Terminal=false
Categories=System;
Keywords=system;upgrades;packages;session;security;
X-Desktop-File-Install-Version=0.22
